ProjetoMedAc/AlertSystem/Service References/ServiceReferenceHealth/ServiceHealth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceHealth" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54135/ServiceHealth.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54135/ServiceHealth.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54135/ServiceHealth.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLayerNew" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceHealth_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_ValidatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePatient" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_ValidatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_ValidatePatientState_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePatientState" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_ValidatePatientState_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePatientStateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_InsertHeartRateRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertHeartRateRecord" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_InsertHeartRateRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertHeartRateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_InsertOxygenSaturationRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOxygenSaturationRecord" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_InsertOxygenSaturationRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOxygenSaturationRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_InsertBloodPressureRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBloodPressureRecord" />
  </wsdl:message>
  <wsdl:message name="IServiceHealth_InsertBloodPressureRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBloodPressureRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_InsertPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPatient" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_InsertPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_UpdatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatient" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_UpdatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_UpdateStatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatePatient" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_UpdateStatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatient" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetPatientList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientList" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetPatientList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_HeartRateList_InputMessage">
    <wsdl:part name="parameters" element="tns:HeartRateList" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_HeartRateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartRateListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_OxygenSaturationList_InputMessage">
    <wsdl:part name="parameters" element="tns:OxygenSaturationList" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_OxygenSaturationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:OxygenSaturationListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_BloodPressureList_InputMessage">
    <wsdl:part name="parameters" element="tns:BloodPressureList" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_BloodPressureList_OutputMessage">
    <wsdl:part name="parameters" element="tns:BloodPressureListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetConfigurationLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationLimit" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetConfigurationLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetConfigurationLimitList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationLimitList" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetConfigurationLimitList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationLimitListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_InsertConfigurationLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertConfigurationLimit" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_InsertConfigurationLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertConfigurationLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_UpdateConfigurationLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConfigurationLimit" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_UpdateConfigurationLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConfigurationLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_DeleteConfigurationLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConfigurationLimit" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_DeleteConfigurationLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConfigurationLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_InsertEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEvent" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_InsertEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_UpdateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvent" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_UpdateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListOxygenSaturation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListOxygenSaturation" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListOxygenSaturation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListOxygenSaturationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListBloodPressure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListBloodPressure" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListBloodPressure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListBloodPressureResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListHeartRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListHeartRate" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListHeartRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListHeartRateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListOxygenSaturationALL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListOxygenSaturationALL" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListOxygenSaturationALL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListOxygenSaturationALLResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListBloodPressureALL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListBloodPressureALL" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListBloodPressureALL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListBloodPressureALLResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListHeartRateALL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListHeartRateALL" />
  </wsdl:message>
  <wsdl:message name="IServiceHealthAlert_GetWarningListHeartRateALL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarningListHeartRateALLResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceHealth">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealth/TestConnection" message="tns:IServiceHealth_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealth/TestConnectionResponse" message="tns:IServiceHealth_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealth/ValidatePatient" message="tns:IServiceHealth_ValidatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealth/ValidatePatientResponse" message="tns:IServiceHealth_ValidatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePatientState">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealth/ValidatePatientState" message="tns:IServiceHealth_ValidatePatientState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealth/ValidatePatientStateResponse" message="tns:IServiceHealth_ValidatePatientState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertHeartRateRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealth/InsertHeartRateRecord" message="tns:IServiceHealth_InsertHeartRateRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealth/InsertHeartRateRecordResponse" message="tns:IServiceHealth_InsertHeartRateRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOxygenSaturationRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealth/InsertOxygenSaturationRecord" message="tns:IServiceHealth_InsertOxygenSaturationRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealth/InsertOxygenSaturationRecordResponse" message="tns:IServiceHealth_InsertOxygenSaturationRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBloodPressureRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealth/InsertBloodPressureRecord" message="tns:IServiceHealth_InsertBloodPressureRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealth/InsertBloodPressureRecordResponse" message="tns:IServiceHealth_InsertBloodPressureRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServiceHealthAlert">
    <wsdl:operation name="InsertPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/InsertPatient" message="tns:IServiceHealthAlert_InsertPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/InsertPatientResponse" message="tns:IServiceHealthAlert_InsertPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/UpdatePatient" message="tns:IServiceHealthAlert_UpdatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/UpdatePatientResponse" message="tns:IServiceHealthAlert_UpdatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/UpdateStatePatient" message="tns:IServiceHealthAlert_UpdateStatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/UpdateStatePatientResponse" message="tns:IServiceHealthAlert_UpdateStatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetPatient" message="tns:IServiceHealthAlert_GetPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetPatientResponse" message="tns:IServiceHealthAlert_GetPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetPatientList" message="tns:IServiceHealthAlert_GetPatientList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetPatientListResponse" message="tns:IServiceHealthAlert_GetPatientList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HeartRateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/HeartRateList" message="tns:IServiceHealthAlert_HeartRateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/HeartRateListResponse" message="tns:IServiceHealthAlert_HeartRateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OxygenSaturationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/OxygenSaturationList" message="tns:IServiceHealthAlert_OxygenSaturationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/OxygenSaturationListResponse" message="tns:IServiceHealthAlert_OxygenSaturationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BloodPressureList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/BloodPressureList" message="tns:IServiceHealthAlert_BloodPressureList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/BloodPressureListResponse" message="tns:IServiceHealthAlert_BloodPressureList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetConfigurationLimit" message="tns:IServiceHealthAlert_GetConfigurationLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetConfigurationLimitResponse" message="tns:IServiceHealthAlert_GetConfigurationLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationLimitList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetConfigurationLimitList" message="tns:IServiceHealthAlert_GetConfigurationLimitList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetConfigurationLimitListResponse" message="tns:IServiceHealthAlert_GetConfigurationLimitList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertConfigurationLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/InsertConfigurationLimit" message="tns:IServiceHealthAlert_InsertConfigurationLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/InsertConfigurationLimitResponse" message="tns:IServiceHealthAlert_InsertConfigurationLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConfigurationLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/UpdateConfigurationLimit" message="tns:IServiceHealthAlert_UpdateConfigurationLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/UpdateConfigurationLimitResponse" message="tns:IServiceHealthAlert_UpdateConfigurationLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteConfigurationLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/DeleteConfigurationLimit" message="tns:IServiceHealthAlert_DeleteConfigurationLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/DeleteConfigurationLimitResponse" message="tns:IServiceHealthAlert_DeleteConfigurationLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/InsertEvent" message="tns:IServiceHealthAlert_InsertEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/InsertEventResponse" message="tns:IServiceHealthAlert_InsertEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/UpdateEvent" message="tns:IServiceHealthAlert_UpdateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/UpdateEventResponse" message="tns:IServiceHealthAlert_UpdateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/DeleteEvent" message="tns:IServiceHealthAlert_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/DeleteEventResponse" message="tns:IServiceHealthAlert_DeleteEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarningListOxygenSaturation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListOxygenSaturation" message="tns:IServiceHealthAlert_GetWarningListOxygenSaturation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListOxygenSaturationResponse" message="tns:IServiceHealthAlert_GetWarningListOxygenSaturation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarningListBloodPressure">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListBloodPressure" message="tns:IServiceHealthAlert_GetWarningListBloodPressure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListBloodPressureResponse" message="tns:IServiceHealthAlert_GetWarningListBloodPressure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarningListHeartRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListHeartRate" message="tns:IServiceHealthAlert_GetWarningListHeartRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListHeartRateResponse" message="tns:IServiceHealthAlert_GetWarningListHeartRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarningListOxygenSaturationALL">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListOxygenSaturationALL" message="tns:IServiceHealthAlert_GetWarningListOxygenSaturationALL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListOxygenSaturationALLResponse" message="tns:IServiceHealthAlert_GetWarningListOxygenSaturationALL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarningListBloodPressureALL">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListBloodPressureALL" message="tns:IServiceHealthAlert_GetWarningListBloodPressureALL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListBloodPressureALLResponse" message="tns:IServiceHealthAlert_GetWarningListBloodPressureALL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarningListHeartRateALL">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListHeartRateALL" message="tns:IServiceHealthAlert_GetWarningListHeartRateALL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHealthAlert/GetWarningListHeartRateALLResponse" message="tns:IServiceHealthAlert_GetWarningListHeartRateALL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceHealth" type="tns:IServiceHealth">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IServiceHealth/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePatient">
      <soap:operation soapAction="http://tempuri.org/IServiceHealth/ValidatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePatientState">
      <soap:operation soapAction="http://tempuri.org/IServiceHealth/ValidatePatientState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertHeartRateRecord">
      <soap:operation soapAction="http://tempuri.org/IServiceHealth/InsertHeartRateRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOxygenSaturationRecord">
      <soap:operation soapAction="http://tempuri.org/IServiceHealth/InsertOxygenSaturationRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBloodPressureRecord">
      <soap:operation soapAction="http://tempuri.org/IServiceHealth/InsertBloodPressureRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IServiceHealthAlert" type="tns:IServiceHealthAlert">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertPatient">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/InsertPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/UpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatePatient">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/UpdateStatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatient">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientList">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetPatientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HeartRateList">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/HeartRateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OxygenSaturationList">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/OxygenSaturationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BloodPressureList">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/BloodPressureList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationLimit">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetConfigurationLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationLimitList">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetConfigurationLimitList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertConfigurationLimit">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/InsertConfigurationLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConfigurationLimit">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/UpdateConfigurationLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteConfigurationLimit">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/DeleteConfigurationLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/InsertEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/UpdateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarningListOxygenSaturation">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetWarningListOxygenSaturation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarningListBloodPressure">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetWarningListBloodPressure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarningListHeartRate">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetWarningListHeartRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarningListOxygenSaturationALL">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetWarningListOxygenSaturationALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarningListBloodPressureALL">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetWarningListBloodPressureALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarningListHeartRateALL">
      <soap:operation soapAction="http://tempuri.org/IServiceHealthAlert/GetWarningListHeartRateALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHealth">
    <wsdl:port name="BasicHttpBinding_IServiceHealth" binding="tns:BasicHttpBinding_IServiceHealth">
      <soap:address location="http://localhost:54135/ServiceHealth.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IServiceHealthAlert" binding="tns:BasicHttpBinding_IServiceHealthAlert">
      <soap:address location="http://localhost:54135/ServiceHealth.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>