ProjetoMedAc/AlertSystem/Service References/ServiceReferenceHealth/ServiceHealth.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLayerNew" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLayerNew" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54135/ServiceHealth.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="HeartRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientSNS" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeartRate" nillable="true" type="tns:HeartRate" />
  <xs:complexType name="OxygenSaturation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientSNS" type="xs:int" />
      <xs:element minOccurs="0" name="Saturation" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OxygenSaturation" nillable="true" type="tns:OxygenSaturation" />
  <xs:complexType name="BloodPressure">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Diastolic" type="xs:int" />
      <xs:element minOccurs="0" name="PatientSNS" type="xs:int" />
      <xs:element minOccurs="0" name="Systolic" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BloodPressure" nillable="true" type="tns:BloodPressure" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Alergies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergencyNumber" type="xs:int" />
      <xs:element minOccurs="0" name="EmergencyNumberCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nif" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sns" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="ArrayOfHeartRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeartRate" nillable="true" type="tns:HeartRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeartRate" nillable="true" type="tns:ArrayOfHeartRate" />
  <xs:complexType name="ArrayOfOxygenSaturation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OxygenSaturation" nillable="true" type="tns:OxygenSaturation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOxygenSaturation" nillable="true" type="tns:ArrayOfOxygenSaturation" />
  <xs:complexType name="ArrayOfBloodPressure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BloodPressure" nillable="true" type="tns:BloodPressure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBloodPressure" nillable="true" type="tns:ArrayOfBloodPressure" />
  <xs:complexType name="ConfigurationLimitType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigurationType" type="tns:ConfigurationLimitType.Type" />
      <xs:element minOccurs="0" name="MaximumCriticalValue" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumValue" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumCriticalValue" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationLimitType" nillable="true" type="tns:ConfigurationLimitType" />
  <xs:simpleType name="ConfigurationLimitType.Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HR" />
      <xs:enumeration value="SPO2" />
      <xs:enumeration value="BP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfigurationLimitType.Type" nillable="true" type="tns:ConfigurationLimitType.Type" />
  <xs:complexType name="ArrayOfConfigurationLimitType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigurationLimitType" nillable="true" type="tns:ConfigurationLimitType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigurationLimitType" nillable="true" type="tns:ArrayOfConfigurationLimitType" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="EvenType" type="tns:Event.Type" />
      <xs:element minOccurs="0" name="MaximumTime" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:simpleType name="Event.Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ECA" />
      <xs:enumeration value="ECC" />
      <xs:enumeration value="ECI" />
      <xs:enumeration value="EAC" />
      <xs:enumeration value="EAI" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Event.Type" nillable="true" type="tns:Event.Type" />
  <xs:complexType name="ArrayOfOxygenSaturationWarning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OxygenSaturationWarning" nillable="true" type="tns:OxygenSaturationWarning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOxygenSaturationWarning" nillable="true" type="tns:ArrayOfOxygenSaturationWarning" />
  <xs:complexType name="OxygenSaturationWarning">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EvenType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientSNS" type="xs:int" />
      <xs:element minOccurs="0" name="Saturation" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OxygenSaturationWarning" nillable="true" type="tns:OxygenSaturationWarning" />
  <xs:complexType name="ArrayOfBloodPressureWarning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BloodPressureWarning" nillable="true" type="tns:BloodPressureWarning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBloodPressureWarning" nillable="true" type="tns:ArrayOfBloodPressureWarning" />
  <xs:complexType name="BloodPressureWarning">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Diastolic" type="xs:int" />
      <xs:element minOccurs="0" name="EvenType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientSNS" type="xs:int" />
      <xs:element minOccurs="0" name="Systolic" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BloodPressureWarning" nillable="true" type="tns:BloodPressureWarning" />
  <xs:complexType name="ArrayOfHeartRateWarning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeartRateWarning" nillable="true" type="tns:HeartRateWarning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeartRateWarning" nillable="true" type="tns:ArrayOfHeartRateWarning" />
  <xs:complexType name="HeartRateWarning">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EvenType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientSNS" type="xs:int" />
      <xs:element minOccurs="0" name="Rate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeartRateWarning" nillable="true" type="tns:HeartRateWarning" />
</xs:schema>